        @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
        
            :root {
     
            --gb-shell-dark: #585857;      /* bordi scuri */

            --gb-screen-frame: #0C0C0C;    /* cornice schermo */
            
            --gb-dpad: #1C1C1C;            /* croce direzionale */
            --gb-button-a-b: #8B1A3A;      /* pulsanti A/B rosso vinaccia */

            --gb-text: #C4C4C4;            /* scritte e incisioni */
            
            --gb-led-on: #51FF0D;          /* LED acceso */

            }
       
        body {
            overflow: hidden;
            background-color: black;
            touch-action: none; /* previene scroll e zoom accidentali */
            user-select: none;  /* niente selection accidentale */
            height: 90vh;
             display: flex;
            justify-content: center;
         
        }
        .console-bg{
           
            width: 95%;
            height: 100%;
            background: var(--gb-shell-dark);
               border: 6px solid #444;
             border-radius: 22px;
             box-shadow:   0 10px 18px rgba(0,0,0,0.6), /* esterna */
                inset 0 4px 12px rgba(255,255,255,0.12), /* highlight interno */
                inset 0 -6px 12px rgba(0,0,0,0.5); /* shadow interno */;
        }
        .led{
            position: absolute;
            top : 3rem;
            right: 10svi;
            width: 10px;
            height: 10px;
            border-radius: 40px;
            background-color: var(--gb-led-on);
        }
        
        #game-wrapper{
            aspect-ratio: 4 / 3;
            width: min(90vw, calc(90vh * 4 / 3));
            height: min(90vh, calc(90vw * 3 / 4));
            position: relative;
            margin: auto;
            background: black;
        }
    
        img {
            display: none;
        }

        #game-container {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
           
}

        #game-container canvas {
            position: absolute;
             width: 100%;
            height: 100%;
            object-fit: contain; /* gli da le bande nere*/
            image-rendering: pixelated;
            image-rendering: crisp-edges;
             border: 8px solid #111;
                border-radius: 14px;
        }
        
         #loading {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center ;
            font-size: 80px;
         }
         .hp{
            position : fixed;
            top: 80px;
            border: 2px solid black;
         }
        .text-container {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%); /* Centra SEMPRE */
            pointer-events: none;
            z-index: 9999; /* sempre sopra */
            width: 200px;
            height: 200px;
            text-align: center;
            }
            .avvisi {
                background: rgba(0,0,0,0.7);
                border: 6px solid var(--gb-shell-dark);
                color: var(--gb-text);
                padding: 8px 12px;
                border-radius: 6px;
                margin-top: 5px;
                font-family:  "Pixelify Sans", sans-serif;
                font-size: 20px;
                }
            #touch-controls, #reset {
                display: none;
            }

         @media screen and (max-width: 900px) {
              #game-wrapper{
                top: 5rem;   
        }
        .speaker{
            position: absolute;
            top: 3rem;
            left: 43svi;
            display: flex;
            align-items: center;
            
            
        }
        .speaker-dot{
           
            width: 15px;
            height: 15px;
            border-radius: 40px;
            background-color: var(--gb-screen-frame);
        }
      
            #touch-controls {
            position: fixed;
            z-index: 9999;
            bottom: 17svh;
            left:5svi;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 90%;
            gap: 2vh;
        }
        #pad{
            display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
               
        }
        #touch-controls button {
            width: 3rem;
            height: 3rem;
            font-size: 3vh;
            border-radius: 50px;
            opacity: 0.8;
            backdrop-filter: blur(4px);
           
            box-shadow: 4px 4px 7px var(--gb-screen-frame);
            color: blanchedalmond;
        }
            #btn-up {
                grid-column: 2;
                grid-row: 1;
                  background-color:var(--gb-dpad);
            }

            #btn-left {
                grid-column: 1;
                grid-row: 2;
                  background-color:var(--gb-dpad);
            }

            #btn-right {
                grid-column: 3;
                grid-row: 2;
                  background-color:var(--gb-dpad);
            }

            #btn-down {
                grid-column: 2;
                grid-row: 3;
                  background-color:var(--gb-dpad);
            }
            #reset-cont{
            position: fixed;
                z-index: 9999;
                bottom: 36svh; 
                left:42svi;
                
            }
            #action-btns{
                
                width: 7rem ;
                height: 7rem;
            }
            #btn-attack{
                position: relative;
                top: 2rem;
                background-color: var(--gb-button-a-b)
            }
            #btn-interact{
                background-color: var(--gb-button-a-b)
            }
            #reset {
            display: block;
            width: 10vh;
            height: 6vh;
            font-size: 3vh;
            border-radius: 50px;
            opacity: 0.8;
            backdrop-filter: blur(4px);
            color: blanchedalmond;
             background-color:var(--gb-dpad);
            box-shadow: 2px 2px 5px var(--gb-screen-frame);
            }
        .text-container {
            width: 120px;
            height: 120px;
            }
                .avvisi {
                font-size: 10px;
                }

         }