        @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            /* background-color: black; */
        }
       
        body {
            overflow: hidden;
            background-color: black;
            touch-action: none; /* previene scroll e zoom accidentali */
            user-select: none;  /* niente selection accidentale */
      
        }

        body.rotate {
            transform: rotate(90deg);
            transform-origin: center center;
             width: 100vh; 
             height: 100vw; 
            overflow: hidden;
            position: absolute;
            top:55%;
            left: 0;
        }
        img {
            display: none;
        }

        #game-container {
            /* position: fixed;
            top: 0;
            left: 0; */
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
           
}

        #game-container canvas {
            position: absolute;
            width: 100%;
            height: 100%;
            image-rendering: pixelated;
            image-rendering: crisp-edges;
        }
        
         #loading {
            position: absolute;
            top: 50%;
            width: 100%;
            text-align: center ;
            font-size: 80px;
         }
         .hp{
            position : fixed;
            top: 80px;
            border: 2px solid black;
         }
        .text-container {
            position: absolute;
            top: 50%; 
            left: 50%;
            transform: translate(-50%, -50%); /* Centra SEMPRE */
            pointer-events: none;
            z-index: 9999; /* sempre sopra */
            width: 200px;
            height: 200px;
            text-align: center;
            }
            .avvisi {
                background: rgba(0,0,0,0.7);
                border: 6px solid white;
                color: white;
                padding: 8px 12px;
                border-radius: 6px;
                margin-top: 5px;
                font-family:  "Pixelify Sans", sans-serif;
                font-size: 20px;
                }
            

         @media screen and (max-width: 900px) {
            #touch-controls {
            position: fixed;
            z-index: 9999;
            top: 50vh;
            left:0;
            transform: translateX(-20%);
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 70%;
            gap: 2vh;
        }
        #pad{
            display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
        }
        #touch-controls button {
            width: 6vh;
            height: 6vh;
            font-size: 4vh;
            border-radius: 50px;
            opacity: 0.8;
            backdrop-filter: blur(4px);
            background-color: transparent;
            color: blanchedalmond;
        }
            #btn-up {
                grid-column: 2;
                grid-row: 1;
            }

            #btn-left {
                grid-column: 1;
                grid-row: 2;
            }

            #btn-right {
                grid-column: 3;
                grid-row: 2;
            }

            #btn-down {
                grid-column: 2;
                grid-row: 3;
            }
            #reset-cont{
            position: fixed;
                z-index: 9999;
                top: 30vh;
                left:50vh;
                transform: translateX(-20%);
                display: flex;
                justify-content: space-between;
            align-items: center;
                
            }
            #reset {
            width: 10vh;
            height: 6vh;
            font-size: 4vh;
            border-radius: 50px;
            opacity: 0.8;
            backdrop-filter: blur(4px);
            background-color: transparent;
            color: blanchedalmond;
            }
        .text-container {
           
            top: 50%; 
            left: 50%;
            transform: translate(-20rem, 90%); /* Centra SEMPRE */
            
         
          
            text-align: center;
            }

         }